version: "3"

services:
  db:
    image: postgres
    environment:
      PGDATA: /ver/lib/postgresql/data/pgdata
      POSTGRES_DB: "site_vv"
      POSTGRES_PASSWORD: "123"

  app:
    build: .
    command: sh -c "wait-for db:5432 -- python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    depends_on:
      - db