{% extends 'base.html' %}
{% block content %}
    {% load mediapath %}
    {% if perms.blog_create_shop %}
        <div>
            <a class="btn btn-outline-primary" href="{% url 'shop:create' %}">Добавить блог</a>
        </div>
    {% endif %}
    <div class="col-12 mb-5">
    </div>
    {% for object in object_list %}
        {% load mediapath %}
        <div>
            <div>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-1">{{ object.name_product|title }}<span
                                class="text-body-secondary"></span></h2>
                        <p class="lead">{{ object.description|title }}</p>
                        <h4>{{ object.prise|title }}/Руб</h4>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% mediapath object.image %}" width="500" height="500"
                             alt="Иллюстрация"
                             class="border border-dark">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                        </svg>

                    </div>

                </div>

            </div>
            <center>
                <a href="{% url "shop:view" object.pk %}" class="btn btn-outline-info">Подробнее</a>
                {% if perms.blog.edit_blog %}
                    <a href="{% url "shop:edit" object.pk %}" class="btn btn-outline-danger">Детали</a>
                {% endif %}
                {% if perms.blog.delete_blog %}
                    <a href="{% url "shop:delete" object.pk %}" class="btn btn-outline-danger">Удалить</a>
                {% endif %}
            </center>
        </div>
    {% endfor %}
{% endblock %}
