{% extends 'base.html' %}
{% load mediapath %}
{% block content %}
    <div class="col-md-offset-6">
        <div class="card mb-5 box-shadow">
            <div class="card-body">
                {% load mediapath %}
                <center/>
                <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-color: #d4edda4;">
                    <center/>
                    <ul class="d-flex list-unstyled mt-auto">
                        <div class="card-body">
                            <img src="{% mediapath object.image %}" width="50%" height="50%" alt="Иллюстрация"
                                 class="img-fluid border border-dark">
                            <h3 class="card-text"> {{ object.name_product|title|truncatechars:100 }} </h3>

                            <p class="card-text"> {{ object.description|title }}</p>

                            <h1 class="card-title pricing-card-title">{{ object.prise }}<small
                                    class="text-body-secondary fw-light">/руб</small></h1>
                        </div>
                </div>
{% endblock %}