{% extends 'base.html' %}
{% block content %}
    <div class="col-12 mb-5">
    </div>
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% load mediapath %}
                    <center/>
                    <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                         style="background-color: #d4edda4;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="{% mediapath object.image %}" width="100%" height="200" alt="Иллюстрация"
                                         class="rounded-circle border border-dark">
                                </li>
                        </div>
                        <h3 class="card-text"> {{ object.name_product|title|truncatechars:100 }} </h3>
                        <h1 class="card-title pricing-card-title">{{ object.prise }}<small class="text-body-secondary fw-light">/руб</small></h1>
                    </div>
                </div>
                <a href="{% url "shop:view" object.pk %}" class="btn btn-outline-info">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
