{% extends 'base.html' %}
{% load mediapath %}
{% block content %}
    <div class="col-md-4">
        <div class="card mb-3 box-shadow h-100">
            <div class="card-body">
                {% load mediapath %}
                <center/>
                <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                <ul class="d-flex list-unstyled mt-auto">
                    <div class="ratio-1x1">
                        <img src="{% mediapath object.image %}" width="160" height="160" alt="Иллюстрация"
                             class="bd-placeholder-img rounded-circle">
                        <h3 class="card-text"> {{ object.full_name|title|truncatechars:100 }} </h3>
                        <p class="card-text"> {{ object.category_doctor|title|truncatechars:100 }} </p>
                        <p class="card-text"> {{ object.description|title }}</p>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}