<div>
    <img style="margin:0 0 0 100px;" src="/media/icon/img.png" alt=" Картинка"
         width="100" height="100"/>

     <img style="margin:0 0 0 100px;" src="/media/icon/img_1.png" alt=" Картинка"
         width="100" height="100"/>

    <img style="margin:0 0 0 100px;" src="/media/icon/img_2.png" alt=" Картинка"
         width="100" height="100"/>

     <img style="margin:0 0 0 100px;" src="/media/icon/img_3.png" alt=" Картинка"
         width="100" height="100"/>

    <img style="margin:0 0 0 100px;" src="/media/icon/img_4.png" alt=" Картинка"
         width="100" height="100"/>

     <img style="margin:0 0 0 100px;" src="/media/icon/img_5.png" alt=" Картинка"
         width="100" height="100"/>



</div>