<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

    <div class=".carousel-item">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
                aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="/media/are_common/laboratory_1.png" alt=" Картинка"
                 width="100%" height="100%"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1><span class="blue">Опытные</span> врачи </h1>
{#                    <p class="opacity-75">Опытные врачи - это наша главная гордость. В нашем медицинском центре работают#}
{#                        только#}
{#                        высококвалифицированные специалисты, которые имеют большой опыт работы. Они готовы помочь вам с#}
{#                        любыми проблемами со здоровьем и предоставить профессиональную медицинскую помощь.</p>#}
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/media/are_common/laboratory_2.png" alt=" Картинка"
                 width="100%" height="100%"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Компьютерная <span class="blue">диагностика</span></h1>
{#                    <p>Компьютерная диагностика - это современный метод исследования, который позволяет точно определить#}
{#                        причину заболевания или недомогания.#}
{#                        В нашем медицинском центре мы используем самые современные технологии, чтобы обеспечить нашим#}
{#                        пациентам наиболее точную диагностику.</p>#}
                </div>
            </div>

        </div>
        <div class="carousel-item active">
            <img src="/media/are_common/laboratory_3.png" alt=" Картинка"
                 width="100%" height="100%"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Медицинский <span class="blue">центр</span></h1>
{#                    <p class="card-text">Медицинский центр - это место, где вы можете получить комплексную медицинскую#}
{#                        помощь. У нас есть все необходимое оборудование для проведения диагностики и лечения различных#}
{#                        заболеваний. Мы заботимся о здоровье наших пациентов и делаем все возможное, чтобы помочь им#}
{#                        вернуться к полноценной жизни.</p>#}
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>

<body>



