<div>
    <img src="/media/are_common/doctors_all.jpg" alt=" Картинка"
         width="100%" height="100%"/>
    <div class="wpb_wrapper">
        <div class="card mb-4 rounded-4 shadow-sm">
            <div class="ltx-countup  animation-default layout-default" id="like_sc_countup_1600637128">
                <div class="row centered">
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-0">86</span>
                                </h2>
                                <h5 class="subheader">Квалифицированных врачей</h5></div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-1">19</span>
                                </h2>
                                <h5 class="subheader">Диагностических отделений</h5></div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-2">27</span>
                                </h2>
                                <h5 class="subheader">Лет опыта</h5></div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-3">50</span>+
                                </h2>
                                <h5 class="subheader">Пациентов каждый день</h5></div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-4">99</span>%
                                </h2>
                                <h5 class="subheader">Точность диагностики</h5></div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-lg-4 col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="blue"><span class="countUp"
                                                       id="like_sc_countup_1600637128-5">6</span></h2>
                                <h5 class="subheader">Филиалов по стране</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>