<div class="carousel-inner">
    <img src="/media/are_common/record.png" alt=" Картинка"
         width="100%" height="100%">
    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
    <div class="carousel-caption text-start">

        <div class="number">
            <div class="carousel-inner">
                <rect width="100%" height="100%"
                      fill="var(-bs-secondary-yellow)"></rect>
                <div class="collapse navbar-collapse d-lg-flex"
                     id="navbarsExample11">
                    <font size="20">

                    </font>
                </div>
            </div>
        </div>
        <a href="{% url "doctors:contact" %}" class="button">Записаться онлайн</a>
    </div>
</div>


{#<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">#}
{#    <div class="vc_column-inner">#}
{#        <div class="wpb_wrapper">#}
{#            <div data-mh="ltx-tariff-item" class="tariff-item item matchHeight " id="like_sc_tariff_709489925"#}
{#                 style="height: 697.531px;"><h4 class="header">Advanced diagnostic</h4>#}
{#                <div class="image"><span class="heading-icon-fa icon-mri-2 "></span></div>#}
{#                <div class="price">$249</div>#}
{#                <div class="descr">Advanced medical examination, consultations, diagnosis and treatment</div>#}
{#                <ul>#}
{#                    <li><span class="ul-yes fa fa-check"></span> 5 doctors examination</li>#}
{#                    <li><span class="ul-yes fa fa-check"></span> MRI scaner testing</li>#}
{#                    <li><span class="ul-yes fa fa-check"></span> blood test</li>#}
{#                </ul>#}
{#                <div><a href="#" class="btn  btn-black color-hover-main">Submit now</a></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}