<h3>Запись онлайн</h3>
<div class="carousel-inner border border-dark ">
    <img src="/media/are_common/number_online.png" alt=" Картинка"
         width="100%" height="100%">
    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
    <div class="carousel-caption text-start">

        <div class="number">
            <div class="carousel-inner">
                <rect width="100%" height="100%"
                      fill="var(-bs-secondary-yellow)"></rect>
                <div class="collapse navbar-collapse d-lg-flex"
                     id="navbarsExample11">
                    <font size="20">

                    </font>
                </div>
            </div>
        </div>
        <a href="{% url "doctors:contact" %}" class="button">Записаться онлайн</a>
    </div>
</div>


